* {
  margin: 0px;
  padding: 0px;

}

body {
  margin-left: 11rem;
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

/* CommonProperties --------------------------------------------------------------------------------- */

.commonButton {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: 1px solid blue;
  cursor: pointer;
  border-radius: 8px;
  width: 80px;
  height: 35px;
  transition: 0.3s;
}

.commonButton:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}


/* Backgroud Color --------------------------------------------------------------------------------- */

body {
  background-color: #FAF7F3;
}

.inner-div {
  background-color: #c5e0f3;
}

.leftSliter {
  background-color: #c5e0f3;
}

.Fooder {
  background-color: #c5e0f3;
}

.css-header {
  background-color: #F6DA87;
  text-align: center;
}

.cuslis-tableContainer th {
  background-color: #f6da87b5;
}

.tableContainer th {
  background-color: #f6da87b5;
}

.request-tableContainer th {
  background-color: #f6da87b5;
}

.empdetail-Box {
  background-color: #c5e0f3;
}

/*Fooder --------------------------------------------------------------------------------- */

.Fooder {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.Fooder.scrolled {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

/* LoadingScreen --------------------------------------------------------------------------------- */

.main-container {
  flex: 1;
  padding: 2.5rem 1rem;
}

.loadingScreenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  border: var(--green-border);
  border-radius: 2em;
}

.loadingScreenDiv h1 {
  color: var(--green-text-colour);
}