* {
  margin: 0px;
  padding: 0px;

}

body {
  margin-left: 11rem;
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #FAF7F3;
}

button {
  cursor: pointer;
}

/* CommonProperties --------------------------------------------------------------------------------- */

.commonButton {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: 1px solid blue;
  cursor: pointer;
  border-radius: 8px;
  width: 80px;
  height: 35px;
  transition: 0.3s;
}

.commonButton:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.redButton {
  background-color: #f3f7fe;
  color: #f63b3b;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 8px;
  width: 80px;
  height: 35px;
  transition: 0.3s;
}

.redButton:hover {
  background-color: #f63b3b;
  box-shadow: 0 0 0 5px #f63b3b5f;
  color: #fff;
}

.errorintable {
  text-align: center;
  font-size: 1.5rem;
}

/*Fooder --------------------------------------------------------------------------------- */

.Fooder {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.Fooder.scrolled {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

/* Page-404 --------------------------------------------------------------------------------- */

.page404Div {
  height: 80dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LoadingScreen --------------------------------------------------------------------------------- */

.main-container {
  flex: 1;
  padding: 2.5rem 1rem;
}

.loadingScreenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  border: var(--green-border);
  border-radius: 2em;
}

.loadingScreenDiv h1 {
  color: var(--green-text-colour);
}