.titleCard {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.signupName,
.signupEmail,
.signupnewPassword,
.signupconfirmPassword,
.loginEmail,
.loginPassword {
    height: 20px;
    width: 200px;
    margin-bottom: 20px;
}

.signupButton,
.loginButton,
.profileButton {
    height: 20px;
    width: 150px;
    background-color: rgb(10, 141, 129);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: background-color 0.35;
}

.profileButton {
    margin-bottom: 20px;
}

.signupButton:hover,
.loginButton:hover,
.profileButton:hover {
    background-color: rgb(70, 200, 189);
}

.signup-div,
.login-div {
    height: 500px;
    width: 300px;
    padding-left: 40px;
    padding-top: 30px;
}

@keyframes slideLefttoRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(300px);
    }
}

@keyframes slideRighttoLeft {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

.Signup-div,
.Login-div,
.profile-div {
    margin-top: 150px;
    justify-items: center;
}

.Container {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 5% auto;
}

.Sliter {
    background-color: antiquewhite;
    border: 1px solid red;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.centerButton {
    width: max-content;
    height: 30px;
    border-radius: 15px;
}

.profile-elements {
    display: flex;
    flex-direction: column;
}

.profile-Container {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    height: max-content;
    padding: 15px;
}

.profile-elements label {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-elements input {
    height: 20px;
    width: 200px;
}