.empdetail-buttondiv {
    display: flex;
    justify-content: end;
    padding: 5px;
    margin-top: 10px;
}

.empdetail-submitbutton {
    padding: 5px;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px lightblue;

    &:hover {
        background-color: bisque;
    }
}

.empdetail-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empdetail-Box {
    box-shadow: 0px 5px 10px 0px black;
    width: max-content;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
}

.personaldetailscontainer {
    display: flex;
}

.empdetail-Box p {
    border: 2px solid black;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.empdetail-textdiv {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.employeePhotoContainer {
    display: flex;
}

.employeePhoto {
    width: 100px;
    height: 100px;
}