/*-------------------Nav Bar----------------------*/

.Nav-div {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
}

/* --- Main Content --- */
.main-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid var(--gray-light-1);
    background-color: white;
    flex-shrink: 0;
}

.dark .main-header {
    border-bottom-color: var(--gray-dark-1);
    background-color: var(--gray-dark-2);
}

.header-linksDiv {
    display: flex;
    column-gap: 1rem;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-link {
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray-dark-1);
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease;
}

.dark .header-link {
    color: var(--gray-light-2);
}

.header-link:hover {
    color: var(--primary);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* space-x-4 */
}

.user-text {
    text-align: right;
}

.user-role {
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 600;
    /* font-semibold */
    margin: 0;
    color: var(--gray-dark-1);
}

.dark .user-role {
    color: var(--gray-light-1);
}

.logout-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.logout-link:hover {
    text-decoration: underline;
}

.header-LogoutMenuButton {
    background-color: transparent;
    border: 0;
}

.header-LogoutMenuIcon {
    width: 40px;
    aspect-ratio: 1/1;
}

/*------------------------------------------------*/

/*-------------------Mini Nav----------------------*/

.inner-div {
    border-radius: 2px;
}

.inner-ul {
    margin: 0;
}

.inner-div li {
    display: inline-block;
    padding: 10px 20px;
}

/*------------------------------------------------*/