/* New Look------------------------------------------------------- */

.request-employeeProfile {
    width: 50px;
    height: 50px;
}

.request-requesterName {
    display: flex;
    column-gap: 0.5rem;
}

.request-requesterName div {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.request-requestDescription {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.request-requestDescription div {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.approvedStatus {
    color: #3b82f6;
    font-weight: bold;
}

.rejectedStatus {
    color: #f63b3b;
    font-weight: bold;
}